
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background: #d6d7d9;
    font-family: 'Raleway', sans-serif;
}

.content{
    max-width: 1033px;
    margin: auto;
    background: #d6d7d9;
    padding: 10px;
}

div.ex1 {
    background-color: #d6d7d9;
    width: 1033px;
    height: 260px;
    overflow: auto;
    text-align: justify;
    font: 'Raleway', sans-serif;
    font-color: #5C636A;
    font-size: 12px;
}

.scrollable-element {
    scrollbar-color: dark;
}