@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    background: #d6d7d9;
    font-family: 'Raleway', sans-serif;
}

.content{
    max-width: 1033px;
    margin: auto;
    background:#d6d7d9;
    padding: 10px;
}

div.ex1 {
    background-color: #d6d7d9;
    width: 1033px;
    height: 260px;
    overflow: auto;
    text-align: justify;
    font: 'Raleway', sans-serif;
    font-color: #5C636A;
    font-size: 12px;
    white-space: normal;
    padding-left: 0px;
    line-break: 3;
}

.scrollable-element {
    scrollbar-color: dark;
}

#progress {
    width:500px;
    border:1px solid black;
    position: relative;
    padding: 3px;
}

#percent {
    position: absolute;
    left:45%;
}

#bar {
    height: 20px;
    background-color: #9CF;
    width:45%;
}

#caption{
    height:50px;
    width:960px;
    margin-top:20px;
    }
    
#caption h1{
    font-family: 'Raleway', sans-serif;
    color: #333333;
    text-align: center;
    padding-top: 10px;
    }    
    
.col{
    height:250px;
    width:200px;
    margin:20px 0 20px 90px;
    float:left;
    margin-left:100px;
    }
    
.col h2{
    font-family: 'Raleway', sans-serif;
    color: #CCCCCC;
    background-color: #29343B;
    text-align: center;
    }
    
.col p{
    font-family:'Raleway', sans-serif;
    color:#1D3A50;
    padding:10px 0 0 5px;
    }
    
.col img{
    padding-top:10px;}    
    
.col h6{
    text-align:center;}    

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}